<div class='container master'>
        <div class='row'>
            <img id='homePic' src='img/kuroObi.jpg' class='img-responsive' alt='Landing Page'>
        </div>
        <div id='intro' class='row '>
            <div class='col-md-6 col-md-offset-3'>
                <h3 class="pageHeadings">Isshin Kempo Karate</h3>
                <p>Authentic Okinawan training that fuses mind, body, and spirit to help you evolve. Kata, or form work, is one of the pillars to our system. It was not uncommon for Masters to practice a single 1 min form for 10 years exclusively, attributing to the richness that lies underneath these ancient treasures. </p>
            </div>
        </div>
        <div id='instruction' class='row'>
            <div class='col-md-4 col-md-offset-2'>
                <img id='instructionPic' src='img/instructionMoku.png' class='img-responsive' alt='intense exchange'>
            </div>
            <div class='col-md-4'>
                <h3 class="privateHeading">Private Instruction</h3>
                <p>Based out of Summit, NJ, I provide private karate lessons for kids and adults. Beginners are welcome. Lessons are paced according to your experience, age, and physical aptitude.</p>
                <p>$50/Hr</p>
                <h3>Contact Sensei Brian:</h3>
                <p><a href="tel:13478990374">vivas66@gmail.com</a> </br><a href="mailto:vivas66@gmail.com">347.899.0374</a></p>
            </div>
        </div>
        <div id='sensei' class='row'>
            <div class='col-md-4 col-md-offset-2'>
               <h3 class="pageHeadings">Sensei Brian</h3>
                <p>Brian Vivas has been studying karate at the Wind School since 2008. From a young age, the martial arts have always called to his heart. When he is not training or teaching, Brian is immersed in the field of web development. Brian is a 2012 Drew University graduate with a B.S. in Business. Brian first encountered his teacher, Shifu Christopher J. Goedecke, at the Drew University Karate Program in 2008. Brian is currently head of the Kinder Karate program at the Madison Area YMCA and the Kicks for Kids program at The Connection for Women & Families in Summit, NJ. Brian is also assistant teacher for all adult and child programs at these two locations. He holds the rank of 1st degree Black Belt (Shodan).  </p>
            </div>
            <div class='col-md-4'>
                <img id='senseiPic' src='img/vivas_sensei.jpg' class='img-responsive img-rounded' alt='Sensei Brian Vivas'>
                
            </div>
        </div>
        <div id='contact' class='row'>
            <div class='col-md-12'>
                <a href="tel:13478990374"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
                <a href="mailto:vivas66@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/vivas89"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            </div>

</div>
