<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <title> Owl Hands -- Tech Studio --</title>
        <link href="css/owlhands.css" rel="stylesheet">
    </head>
    <body>
        <div class='navMenu'>
            <ul class='menuItems'>
                <li>Home</li>
                <li>Repairs & Upgrades</li>
                <li>Simple Websites</li>
                <li>House Visits</li>
                <li>Coding Tutors</li>
                <li>Contact</li>
            </ul>
        </div>
    </body>
</html>

