body {
    background-color: black;
    font-family: Verdana, monospace, Courier;
}

body p {
    font-size: 15px;
}

/* 
 * Navigation Menu */

.fa-fire {
	color: black;
}

.fa {
	color: black;
}

.navbar-default {
       background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
}

.nav {
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a {
    color: #5C5050;
    padding-right: 91px
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #4C4C49; 
    color: black;
    border-radius: 15px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(250, 235, 215, 0);
}

.navbar-default .navbar-toggle {
        border-color: white;
        border-width: 1px;
        border-radius: 5px;
    }

.navbar {
    
    text-align: center;
}

.navbar-brand {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.one:hover ~ hr {
    background-color: #cc1a1a;
}

.fa-circle-o-notch:hover {
    color: #8a8484;
}

.two ~ hr {
    background-color: transparent;
}

.two:hover ~ hr {
    margin-left: 33%;
    background-color: #cc1a1a;
}

.three:hover ~ hr {
    margin-left: 66%;
    background-color: #cc1a1a;
}


hr {
    height: .25rem;
    width: 25%;
    margin: 0;
    background: white;
    border: none;
    transition: .3s ease-in-out;
}
 
#brandImage {
    margin-top: -15px;
    width: 50px;
}   

/*
 * Main Body */

.master {
    text-align: -webkit-center;
}

#homePic {
    border-radius: 4px;	
}

#headTitle {
    font-family: Georgia;
    font-size: 45px;
}

.computerAnything{
	color: #206C25;
    font-size: 25px;
    font-family: fantasy;
}

#home img {
    width: 100px;
    margin: auto;
    
}

#private_fee {
	color:#337ab7;
	font-size: 18px;
}

/*
 * Contact */

#contact {
    padding: 10px; 
    color: #C6A27B;
    background-color: white; 
}
span.glyphicon-phone {
	font-size: 3.2em;
}

span.glyphicon-envelope {
	font-size: 3.2em;
	margin-left: 25px;
	margin-top: 25px;
}

#contact a {
    color: #4C4C49;
    padding-left: 25px;
}
/*
#emailText {
	margin-left: 20px;
}
*/

#bottomHeader {
	
}

.tutoringAge span {
    padding-right: 10px;
}

/*
 * Index Page */

#intro {
    font-family: "Comic Sans MS";
    color: #a99282;
}

.pageHeadings {
    color: #cf5105;
}

.privateHeading {
    color: white;
}

#instruction {
    font-family: "Comic Sans MS";
    color: #a99282;
    padding-top: 25px;

}

#sensei {
    font-family: "Comic Sans MS";
    color: #a99282;
    padding-top: 25px;
}

#contact {
    margin-bottom: 20px;
    margin-top: 20px;
}
























