body {
    background-image: url('../img/funTech2.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(184, 218, 184, 0.61);
    font-family: "Trebuchet MS", Verdana, Georgia, Courier;
}


body p {
    font-size: 15px;
}

#navigation {
    margin-left: 80px;
}

.navbar-default {
    background-color: rgba(217, 216, 214, 0.85);
    border-color: #542F17;
    background-image: none;
   
}

.navbar {
    border-width: 2px;
}

.nav {
    font-family: Verdana, monospace, Courier;
    margin-left: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #5C5050;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(158, 31, 31, 0.52); 
    color: black;
    border-radius: 15px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #542F17;
}

.navbar-default .navbar-toggle {
        border-color: #542F17;
        border-width: 2px;
        border-radius: 10px;
    }

 
#brandImage {
    margin-top: -15px;
    width: 50px;
}   

.master {
    border: 2px solid #542F17;
    border-radius: 5px;
    background-color: rgba(217, 216, 214, 0.85);
    background-repeat: no-repeat;
    background-size: cover;

}

#home {
    padding: 30px;
    text-align: center;
}


#homePic {
	border-top: 2px solid #542F17;
	border-bottom: 2px solid #542F17;
}

#headTitle {
    font-family: Georgia;
    font-size: 45px;
}

.computerAnything{
	color: #206C25;
    font-size: 25px;
    font-family: fantasy;
}

#home img {
    width: 100px;
    margin: auto;
    
}

hr {
    border-top: 2px solid #784421;
    width: 200px;
}

#intro {
    padding: 30px 30px;
    text-align: center;
    margin: auto;
}

#houseVisits {
	color: #206C25;
}

span.glyphicon-hdd {
    font-size: 3.2em;
}

#repairs {
    margin: auto;
    padding: 30px 30px;
    text-align: center;
    
}

.repairsList {
    list-style: none;
    text-align: -webkit-auto;
}

.repairsList li span{
    padding-right: 10px;
}

#websites {
    margin: auto;
    padding: 30px 30px;
    text-align: center;
}

span.glyphicon-tasks {
    font-size: 3.2em;
}


#inhouse {
    margin: auto;
    padding: 30px 30px;
    text-align: center;
}

#inhouse a {
	color: #924242;
}

span.glyphicon-tent {
    font-size: 3.2em;
}


#tutors {
    margin: auto;
    padding: 30px;
    text-align: center;
}

#tutors ul {
    list-style: none;
    text-align: -webkit-auto;
}

#contact {
    padding: 10px; 
    color: #C6A27B;
    background-color: rgb(56, 36, 19)
}
span.glyphicon-phone {
	font-size: 3.2em;
}

span.glyphicon-envelope {
	font-size: 3.2em;
	margin-left: 25px;
	margin-top: 25px;
	color:
}

#contact a {
    color: #e0b74c;
}
/*
#emailText {
	margin-left: 20px;
}
*/

#bottomHeader {
	
}

.tutoringAge span {
    padding-right: 10px;
}
